<footer>
    <p>copyright @ Eniola Ademola</p>
    <div>
        <a href="https://web.facebook.com/eniola.ademola.1610/" class="social-icon" target="_blank"><i
                class="social-icon fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/_daveworld" class="social-icon" target="_blank"><i
                class="social-icon fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/_daveworld" class="social-icon" target="_blank"><i
                class="social-icon fab fa-instagram"></i></a>
    </div>
</footer>

</body>

</html>